<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% load static %}
     <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static "Musify/styles.css" %}">
    <title>Musify Trial</title>
</head>

<body>
	<nav class = "navbar navbar-dark navbar-expand-sm fixed-top">
		<div class = "container">
			<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
				<span class = "navbar-toggler-icon"></span>
			</button>
			<a class = "navbar-brand mr-auto" href = "#">
				<img src = "{%static "Musify/logo.png" %}" height = "35" , width = "35">
			</a>
			<div class = "collapse navbar-collapse" id = "Navbar">
			<ul class = "navbar-nav mr-auto">
				<li class = "nav-item active"> <a class = "nav-link" href = "#"> <span class = "fa fa-home fa-lg"></span> Home </a> </li>
				<li class = "nav-item"> <a class = "nav-link" href = "#"><span class = "fa fa-sign-in fa-lg"></span> Login</a> </li>

			</ul>
			</div>
		</div>
	</nav>
    <header class = "jumbotron">
        <div class = container>
            <div class = "row row-header">
                <div class = "col-12 col-sm-6">
                    <h1>Musify</h1>
                    <p>Insert some exciting intro</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                	<!--img src = "{%static "Musify/logo.png" %}" height = "60" , width = "82" class = "img-fluid"-->
                </div>
            </div>
        </div>
    </header>
    
    <div class = container>
        <div class = "row row-content" >
        	<div class="col-12">
              		<h3>Your favourite songs are a click away!</h3>
              		<button type = "submit" class = "btn btn-primary"><a href = "./searchpage.html">-----Next----</a></button>
        	</div>
        </div>
    </div>



</body>
</html>
