<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% load static %}
     <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static "Musify/styles.css" %}">
    <title>Musify Trial</title>
</head>

<body>

    <header class = "jumbotron">
        <div class = container>
            <div class = "row row-header">
            	<div class = "col-sm-2">
            	<img src = "{%static "Musify/logo.png" %}" height = "100" , width = "100" class = "img-fluid">
            	</div>
                <div class = "col-sm-6">
                    <h1>Musify</h1>
                    <p>Insert some exciting intro</p>
                </div>

            </div>
        </div>
    </header>
    
    
    <div style = "background-color : black" >
    <div class = container>
        <div class = "row row-content" >
        <div class="col-12">
              <h3 style = "color :floralwhite"> <i style="font-size : 50px">Search for your favourite artist! </i></h3>
        </div>
                <form method = "POST">
                	{% csrf_token %}
     	
                	<div class = "form-group md-form mt-0">
                		<div class = "col-10">
                			{% for field in a_form %}
                			<p style = "color :floralwhite">
                			{{field}}
                			{% endfor %}
                			</p>
                			<!--input type = "text" class = "form-control" id = "artist_name" name ="artist_name" placeholder = "Search for an artist..."-->
                		</div>
                	
                		<div class = "col-md-10 offset-5">
                			<button type = "submit" class = "btn btn-primary"><input type = "submit" value = "OK" >Go!</button>
                		</div>
                </form>
            </div>
        </div>        	
    </div>
    </div>
</body>
</html>
